@charset "utf-8";

#wrap{
    width: 100%;
    height: 100%;
}

.inner-wrap{
    width: 100%;
    height: 300%;
}

/*section1 부분!!!!!!*/
.inner-wrap .section{
    width: 100%;
    height: 33.3333%;
    font-style: italic;
    /* background: linear-gradient(to right, #FC5C7D,#6A82FB); */
}

.inner-wrap .section.sec1{
    background: #000;
}

.inner-wrap .section.sec1 .openGrdient{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background: linear-gradient(to right, #FC5C7D,#6A82FB);
}

.section.sec1 .introTxt-1{
    color: #fff;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    padding-left: 5%;
    box-sizing: border-box;
    display: none;
    /* border: 1px solid #fff; */
}

.section.sec1 p{
    font-size: 40px;
}

.section.sec1 .introTxt-1 >p{
    letter-spacing: 30px;
    font-weight: 500;
    /* border: 1px solid #fff; */
}

.section.sec1 .introTxt-2{
    color: #fff;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    padding-left: 5%;
    box-sizing: border-box;
    display: none;
    /* border: 1px solid #f00; */
}

.section.sec1 .introTxt-2 >p{
    letter-spacing: 10px;
    font-weight: 300;
    /* border: 1px solid #fff; */
}

.section.sec1 .introTxt-3{
    color: #fff;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    padding-left: 5%;
    box-sizing: border-box;
    display: none;
    /* border: 1px solid #f00; */
}

.section.sec1 .introTxt-3 >p{
    letter-spacing: 10px;
    font-weight: 500;
    /* border: 1px solid #fff; */
}

.section.sec1 .introTxt-4{
    color: rgba(255,255,255,0.7);
    position: absolute;
    top: 58%;
    padding-left: 5%;
    box-sizing: border-box;
    display: none;
    font-style: normal !important;
}

.section.sec1 .introTxt-4 >p{
    font-size: 12px !important;
    letter-spacing: 5px;
    font-weight: 500;
    /* border: 1px solid #fff; */
    cursor: pointer;
}

/*section2 부분!!!!!!*/
.section.sec2 {
    background: #fff;
}

.section.sec2 .inner-sec2{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.section.sec2 .inner-sec2 .grdient-border{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-image: linear-gradient(to right, #FC5C7D,#6A82FB);
    border-image-slice: 1;
    border-image-width: 10px 0;
}

.section.sec2 .inner-sec2 .grdient-border::after{
    content: "";
    display: block;
    clear: both;
}
/*좌측 myself : innner-text , graph*/
.section.sec2 .inner-sec2 .grdient-border .myself-txt{
    width: 50%;
    height: 100%;
    padding: 2% 10% 0 10%;
    box-sizing: border-box;
    /* border: 5px solid #f00; */
    float: left;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt{
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0 30px 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >h1{
    letter-spacing: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 100px;
    display: none;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >span{
    font-style: normal;
    font-family: 'NanumSquare', sans-serif;
    font-size: 14px;
    line-height: 30px;
    display: none;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >span::before{
    content: "";
    width: 100px;
    height: 50px;
    display: inline-block;
    background: url(../img/sec2-heartEffect.gif) no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    margin-top: -30px;
    margin-left: 135px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 20px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt{
    width: 20%;
    height: auto;
    float: left;
    display: none;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt >ul >li{
    line-height: 40px;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape{
    width: 80%;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 0 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li{
    line-height: 40px;
    padding: 15px 0;
    box-sizing: border-box;
    display: none;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li >div{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    color: #fff;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .markup{
    background: #f35e85;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .markup.html{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .markup.html::after{
    content:"90%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .markup.css{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .markup.css::after{
    content:"95%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .coding{
    background: #c26baf;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .coding.jquery{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .coding.jquery::after{
    content:"80%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .coding.jScript{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .coding.jScript::after{
    content:"40%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .design{
    background: #8e78dc;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .design.pho{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .design.pho::after{
    content:"95%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .design.ill{
    width: 0;
}

.section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li .design.ill::after{
    content:"80%";
    padding: 0 15px 0 0;
    letter-spacing: 1px;
}
/*우측 myself-pic*/
.section.sec2 .inner-sec2 .grdient-border .myself-pic{
    width: 50%;
    height: 100%;
    float: left;
}

.section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic .selfie{
    width: 100%;
    height: 100%;
    background: url(../img/sec2-selfie.png) no-repeat;
    background-size: 400px;
    background-position: center;
    overflow: hidden;
    display: none;
}

.section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic .selfie .heartBack{
    width: 100%;
    height: 100%;
    display: none;
} 

.section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic .selfie .heartBack >img{
    display: block;
    width: 80%;
    height:auto;
    margin: 0 auto;
}

/*section3 부분!!!!!!*/
.section.sec3 {
    background: #fff;
}

.section.sec3 .inner-sec3{
    width:100%;
    height:100%;
    /* border:5px solid #f00;
    box-sizing: border-box; */
}
.section.sec3 .inner-sec3::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec3 .inner-sec3 .sec3-port{
    width: 60%;
    height: 100%;
    /* border: 1px solid #00f;
    box-sizing: border-box; */
    float: left;
    
}

.section.sec3 .inner-sec3 .sec3-port .vibeImg{
    width: 100%;
    height: 100%;
    background: url(../img/sec3-vibe.jpg) no-repeat;
    background-size: 800px;
    background-position: center;
    
}

.section.sec3 .inner-sec3 .sec3-Txt{
    width: 40%;
    height: auto;
    /* border: 1px solid #000; */
    padding: 200px 0;
    box-sizing: border-box;
    float: left;
    font-style: normal;
    color: #333;
}

.section.sec3 .inner-sec3 .sec3-Txt .logoTxt{
    width: 100%;
    height: auto;
}

.section.sec3 .inner-sec3 .sec3-Txt .logoTxt h1.logo{
    width: 500px;
    height: 82px;
    position: absolute;
}

.section.sec3 .inner-sec3 .sec3-Txt .logoTxt h1.logo img{
    width:500px;
    display: block;
}

.section.sec3 .inner-sec3 .sec3-Txt .logoTxt .vibeColor >ul >li:nth-child(1)::after{
    content:"";
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 100px;
    margin-left: 420px;
}
.section.sec3 .inner-sec3 .sec3-Txt .logoTxt .vibeColor >ul >li:nth-child(2)::after{
    content: "";
    background: #ff3a4e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 100px;
    margin-left: 450px;
}
.section.sec3 .inner-sec3 .sec3-Txt .logoTxt .vibeColor >ul >li:nth-child(3)::after{
    content: "";
    background: #7e4cff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 100px;
    margin-left: 480px;
}

.section.sec3 .inner-sec3 .sec3-Txt >h3{
    font-size: 28px;
    font-weight: 500;
    margin: 120px 0 0 0;
    font-family: 'NanumSquare', sans-serif;
}

.section.sec3 .inner-sec3 .sec3-Txt >h6{
    font-size: 14px;
    font-weight: 500;
    font-family: 'NanumSquare', sans-serif;
    line-height: 24px;
}

.section.sec3 .inner-sec3 .sec3-Txt >span{
    display: block;
    margin: 20px 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    font-family: 'NanumSquare', sans-serif;
}

.section.sec3 .inner-sec3 .sec3-Txt .vibeBtn{
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background: #000;
    margin: 25px 0 0 ;
}

.section.sec3 .inner-sec3 .sec3-Txt .vibeBtn >a{
    color: #fff !important;
    text-align: center;
    line-height: 35px;
    display: block;
}

.section.sec3 .inner-sec3 .sec3-Txt .vibeBtn:hover{
    background: linear-gradient(60deg, #ff3a4e,#7e4cff);
}



/*미디어쿼리!!!!!!!!!!!!!!*/
/*태블릿사이즈*/
@media only screen and (min-width:768px) and (max-width:1024px){
    /*section1 부분*/
    .section.sec1 .introTxt-1 >p{
        letter-spacing: 20px;
    }
     /*section2 부분*/
     .section.sec2{
        background: url(../img/sec2-selfie-m.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .section.sec2 .inner-sec2 .grdient-border{
        width: 100%;
        height: 100%;
        border-style: solid;
        border-image: linear-gradient(to right, #FC5C7D,#6A82FB);
        border-image-slice: 1;
        border-image-width: 10px 0;
        box-sizing: border-box;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt{
        width: 100%;
        height: 100%;
        padding: 50px 0;
        float: none;
        color: #fff;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt{
        margin: 0 0 10px 0;
        padding: 0 0 30px 0;
        opacity: 0.8;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >h1{
        line-height: 120px;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph{
        padding: 40px 20px;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt{
        width: 25%;
        color: #fff;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt >ul >li{
        opacity: 0.8;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape{
        width: 75%;
        padding: 0 0 0 10px;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li{
        opacity: 0.6;
    }

    
    .section.sec2 .inner-sec2 .grdient-border .myself-pic{
        display: none;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic .selfie .heartBack >img{
        display: none;
    }
}

/*모바일사이즈*/
@media only screen and (max-width:767px){
    /*section1 부분*/
    .section.sec1 p{
        font-size: 20px;
    }
    .section.sec1 .introTxt-1 >p{
        letter-spacing: 10px;
    }
    .section.sec1 .introTxt-2 >p{
        letter-spacing: 5px;
    }
    .section.sec1 .introTxt-3 >p{
        letter-spacing: 5px;
    }
    .section.sec1 .introTxt-4{
        padding-left: 10%;
    }

    /*section2 부분*/
    .section.sec2{
        background: url(../img/sec2-selfie-m.jpg) no-repeat;
        background-size: 900px;
        background-position: center;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt{
        width: 100%;
        height: auto;
        padding: 10px 0;
        box-sizing: border-box;
        float: none;
        color: #fff;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt{
        margin: 0 0 10px 0;
        padding: 0 0 30px 0;
        opacity: 0.8;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >h1{
        font-size: 20px;
        line-height: 100px;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >span{
        font-size: 12px;
        line-height: 24px;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .inner-txt >span::before{
        content: "";
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-top: -35px;
        margin-left: 130px;
        background: url(../img/sec2-starEffect-m.gif) no-repeat;
        background-size: 20px;
        background-position: center;
        position: absolute;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph{
        padding: 30px 20px;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt{
        width: 25%;
        color: #fff;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-txt >ul >li{
        line-height: 25px;
        padding: 15px 0;
        opacity: 0.8;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape{
        width: 75%;
        padding: 0 0 0 10px;
    }
    
    .section.sec2 .inner-sec2 .grdient-border .myself-txt .graph .graph-shape >ul >li{
        line-height: 25px;
        padding: 15px 0;
        opacity: 0.6;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-pic{
        width: 100%;
        height: auto;
        display: none;
    }

    .section.sec2 .inner-sec2 .grdient-border .myself-pic .inner-pic .selfie .heartBack >img{
        display: none;
    }

}