@charset "utf-8";

/*section4 부분!!!!!!*/
.section.sec4 {
    background: #fff;
}

.section.sec4 .inner-sec4{
    width:100%;
    height:100%;
    position: relative;
}

.section.sec4 .inner-sec4::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec4 .inner-sec4 .sec4-arrow{
    position: absolute;
    width:30px;
    height: 18px;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    display: none;
    z-index: 10;
}

.section.sec4 .inner-sec4 .sec4-arrow >img{
    display: block;
    width: 100%;
    cursor: pointer;
}

.section.sec4 .inner-sec4 .sec4-arrow >img:hover{
    transition: ease-in-out 1.0s;
    transform: scale(1.1);
}

.section.sec4 .inner-sec4 .sec4-port{
    width: 60%;
    height: 100%;
    float: left;
    position: absolute;
    left: -100%;
    z-index: 1;
}

.section.sec4 .inner-sec4 .sec4-port .cocaImg{
    width: 100%;
    height: 100%;
    padding: 150px 0 0 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.section.sec4 .inner-sec4 .sec4-port .cocaImg img{
    width: 720px;
    height: 579px;
    margin: 0 auto;
    display: block;
}

.section.sec4 .inner-sec4 .sec4-Txt{
    width: 40%;
    height: auto;
    padding: 12% 0 0 0;
    box-sizing: border-box;
    float: left;
    font-style: normal;
    color: #333;
    position: absolute;
    margin: 0 0 0 60%;
    
}

.section.sec4 .inner-sec4 .sec4-Txt .logoTxt{
    width: 100%;
    height: auto;
}

.section.sec4 .inner-sec4 .sec4-Txt .logoTxt h1.cocaLogo{
    width: 315px;
    height: 103px;
    position: absolute;
}

.section.sec4 .inner-sec4 .sec4-Txt .logoTxt h1.cocaLogo img{
    width: 315px;
    display: block;
    opacity: 0;
}

.section.sec4 .inner-sec4 .sec4-Txt .logoTxt .cocaColor >ul >li{
    display: none;
}

.section.sec4 .inner-sec4 .sec4-Txt .logoTxt .cocaColor >ul >li:nth-child(1)::after{
    content:"";
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 120px;
    margin-left: 200px;
}
.section.sec4 .inner-sec4 .sec4-Txt .logoTxt .cocaColor >ul >li:nth-child(2)::after{
    content: "";
    background: #bfbfbf;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 120px;
    margin-left: 230px;
}
.section.sec4 .inner-sec4 .sec4-Txt .logoTxt .cocaColor >ul >li:nth-child(3)::after{
    content: "";
    background: #f40009;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    position: absolute;
    margin-top: 120px;
    margin-left: 260px;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >h3{
    font-size: 28px;
    font-weight: 500;
    margin: 180px 0 0 0;
    font-family: 'NanumSquare', sans-serif;
    display: none;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >h6{
    font-size: 14px;
    font-weight: 500;
    font-family: 'NanumSquare', sans-serif;
    line-height: 24px;
    display: none;
    margin: 0 0 20px 0;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >span{
    font-size: 16px;
    line-height: 24px;
    font-family: 'NanumSquare', sans-serif;
    display: none;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'NanumSquare', sans-serif;
    display: none;
    margin: 20px 0 0 0;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >input[type=button]{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #000;
    margin: 25px 0 0 0;
    color: #fff !important;
    text-align: center;
    border: 0;
    cursor: pointer;
    display: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.section.sec4 .inner-sec4 .sec4-Txt .coca-about >input[type=button]:hover{
    background: #f40009;
    transition: ease-in 0.5s;
}