@charset "utf-8";

/*section4 부분!!!!!!*/
.section.sec5 {
    background: #fff;
}

.section.sec5 .inner-sec5{
    width:100%;
    height:100%;
    position: relative;
}

.section.sec5 .inner-sec5::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec5 .inner-sec5 .sec5-arrow{
    position: absolute;
    width:30px;
    height: 18px;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    display: none;
    z-index: 10;
}

.section.sec5 .inner-sec5 .sec5-arrow >img{
    display: block;
    width: 100%;
    cursor: pointer;
}

.section.sec5 .inner-sec5 .sec5-arrow >img:hover{
    transition: ease-in-out 1.0s;
    transform: scale(1.1);
}

.section.sec5 .inner-sec5 .sec5-port{
    width: 60%;
    height: auto;
    float: left;
    position: absolute;
    left: -100%;
    z-index: 1;
}

.section.sec5 .inner-sec5 .sec5-port .cocaImg{
    width: 100%;
    padding: 150px 0 0 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.section.sec5 .inner-sec5 .sec5-port .cocaImg img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.section.sec5 .inner-sec5 .sec5-Txt{
    width: 40%;
    height: auto;
    padding: 12% 0 0 0;
    box-sizing: border-box;
    float: left;
    font-style: normal;
    color: #333;
    position: absolute;
    right: 0;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt{
    width: 50%;
    height: auto;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt h1.cocaLogo{
    width: 100%;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt h1.cocaLogo img{
    width: 100%;
    display: block;
    opacity: 0;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor{
    float: right;
    width: auto;
    margin: 15px 0;
    height: auto;
    padding-right: 20px;
    /* border: 1px solid #000; */
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor >ul >li{
    display: none;
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor >ul >li:nth-child(1)::after{
    content:"";
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor >ul >li:nth-child(2)::after{
    content: "";
    background: #bfbfbf;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor >ul >li:nth-child(3)::after{
    content: "";
    background: #f40009;
    width: 15px;
    height: 15px;
    border-radius: 50%;;
}

.section.sec5 .inner-sec5 .sec5-Txt .logoTxt .cocaColor >ul >li::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about{
    /* border: 1px solid #ff0; */
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >h3{
    font-size: 28px;
    font-weight: 500;
    display: none;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    display: none;
    margin: 0 0 20px 0;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >span{
    font-size: 16px;
    line-height: 24px;
    font-family: 'NanumSquareRoundR';
    display: none;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'NanumSquareRoundR';
    display: none;
    margin: 20px 0 0 0;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >input[type=button]{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #000;
    margin: 25px 0 0 0;
    color: #fff !important;
    text-align: center;
    border: 0;
    cursor: pointer;
    display: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.section.sec5 .inner-sec5 .sec5-Txt .coca-about >input[type=button]:hover{
    background: #f40009;
    transition: ease-in 0.5s;
}