@charset "utf-8";

/*section2 부분!!!!!!*/
.section.sec2 {
    background: #fff;
}

.section.sec2 .inner-sec2{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;   
}

.section.sec2 .inner-sec2 .grdient-border{
    width: 95%;
    height: 10px;
    box-sizing:border-box;
    position: absolute;
    left: 0;
    margin-left :2.5%;
}

.section.sec2 .inner-sec2 .grdient-border.g-b-top{
    top: 0;
    margin-top: 20px;
    border-image:linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    border-style: solid;
    border-image-slice: 1;
    border-image-width: 10px 0 0 0;
}

.section.sec2 .inner-sec2 .grdient-border.g-b-bottom{
    bottom: 0;
    margin-bottom: 20px;
    border-image:linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-style: solid;
    border-image-slice: 1;
    border-image-width: 10px 0 0 0;
}

.section.sec2 .inner-sec2 .grdient-border::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec2 .inner-sec2 .sec2-arrow{
    position: absolute;
    width:30px;
    height: 18px;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    display: none;
}

.section.sec2 .inner-sec2 .sec2-arrow >img{
    display: block;
    width: 100%;
    cursor: pointer;
}

.section.sec2 .inner-sec2 .sec2-arrow >img:hover{
    transition: ease-in-out 1.0s;
    transform: scale(1.1);
}

/*좌측 myself : innner-text , graph*/
.section.sec2 .inner-sec2 .myself-txt{
    width: 60%;
    height: 100%;
    padding: 2% 5% 0 5%;
    box-sizing: border-box;
    /* border: 5px solid #f00; */
    float: left;
}

.section.sec2 .inner-sec2 .myself-txt .inner-txt{
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0 30px 0;
}

.section.sec2 .inner-sec2 .myself-txt .inner-txt::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec2 .inner-sec2 .myself-txt .inner-txt >h1{
    letter-spacing: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 100px;
    display: none;
}

.section.sec2 .inner-sec2 .myself-txt .inner-txt >span{
    font-style: normal;
    font-family: 'NanumSquare', sans-serif;
    font-size: 14px;
    line-height: 30px;
    display: none;
}

.section.sec2 .inner-sec2 .myself-txt .inner-txt >span::before{
    content: "";
    width: 100px;
    height: 50px;
    display: inline-block;
    background: url(../img/sec2-heartEffect.gif) no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    margin-top: -30px;
    margin-left: 135px;
}

.section.sec2 .inner-sec2 .myself-txt .graph{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 70px;
    /* border: 1px solid; */
}

.section.sec2 .inner-sec2 .myself-txt .graph::after{
    content: "";
    display: block;
    clear: both;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-txt{
    width: 20%;
    height: auto;
    float: left;
    display: none;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-txt >ul >li{
    line-height: 40px;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape{
    width: 80%;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 0 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li{
    line-height: 40px;
    padding: 15px 0;
    box-sizing: border-box;
    display: none;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li >div{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    color: #fff;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .markup{
    background: #f35e85;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .markup.html{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .markup.html::after{
    content:"90%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .markup.css{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .markup.css::after{
    content:"95%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .coding{
    background: #c26baf;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .coding.jquery{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .coding.jquery::after{
    content:"80%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .coding.jScript{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .coding.jScript::after{
    content:"50%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .design{
    background: #8e78dc;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .design.pho{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .design.pho::after{
    content:"95%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .design.ill{
    width: 0;
}

.section.sec2 .inner-sec2 .myself-txt .graph .graph-shape >ul >li .design.ill::after{
    content:"80%";
    padding: 0 10px 0 0;
    letter-spacing: 1px;
}
/*우측 myself-pic*/
.section.sec2 .inner-sec2 .myself-pic{
    width: 40%;
    height: 100%;
    float: left;
    /* border: 1px solid;
    box-sizing: border-box; */
}

.section.sec2 .inner-sec2 .myself-pic .inner-pic{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.section.sec2 .inner-sec2 .myself-pic .inner-pic .selfie{
    width: 100%;
    height: 100%;
    background: url(../../img/sec2-selfie.png) no-repeat;
    background-size: 400px;
    background-position: center;
    overflow: hidden;
    display: none;
}

.section.sec2 .inner-sec2 .myself-pic .inner-pic .selfie .heartBack{
    width: 100%;
    height: 100%;
    display: none;
    padding: 30px 0;
    box-sizing: border-box;
} 

.section.sec2 .inner-sec2 .myself-pic .inner-pic .selfie .heartBack >img{
    display: block;
    height: 100%;
    margin: 0 auto
}