@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Timmana&display=swap');
@font-face{
    font-family: 'GodoM';
    src: url(../../font/GodoM.ttf) format('truetype');
}
@font-face{
    font-family: 'NanumSquareRoundR';
    src: url(../../font/NanumSquareRoundR.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    /*텍스트 드래그 방지*/
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -khtml-user-select:none;
    user-select: none;
    /*텍스트 태그 시 마우스 커서모양 변경*/
    cursor: default;
    /* font-family: 'GodoM'; */
}

/*스크롤모양 삭제*/
::-webkit-scrollbar {display: none;}
scrollbar{display: none;}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'NanumSquare', sans-serif; */
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Timmana', sans-serif; */
}

img{
    border: 0;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

header, nav, section, main, article, aside, footer{
    display: block;
}